.footer {
  color: white;
  margin-top: 70px;
  margin-left: 200px;
}

.footer__socialLinks {
  display: flex;
}

.socialLink {
  width: 40px;
  height: 35px;
  padding: 20px;
}

.footer__links {
  display: grid;
  grid-template-columns: 20% 20% 20% 20%;
  grid-template-rows: 40px 40px 40px;
  padding: 20px;
}

h3 {
  font-weight: 400;
  font-size: 1.2rem;
  color: grey;
}

.footer__copyrightLink {
  padding: 15px;
}
